

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    background: red;
    width: 50px;
    height: 30px;
}


input[type=range]::-webkit-slider-runnable-track {
    min-inline-size: 0px;
    align-self: center;
    box-sizing: border-box;
    display: block;
    -webkit-user-modify: read-only !important;
    flex: 1 1 0%;
    background: red;
    width: 50px;
    height: 30px;
}

